<!DOCTYPE html>
<html>
<head>
  <title>NutritionEd</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body class='<%= controller.controller_name %>'>

<div class='navbar-wrapper'>
  <div class='navbar'>
    <ul class='options'>
      <li class='nav-option' id='logo'><span id="tomato-logo"><%= image_tag("tomato.svg") %></span><span id="name">tomato</span></li>
      <li class='nav-link nav-option active-nav' id='home'><a href='/'>Home</a></li>
      <li class='nav-link nav-option' id='home'><a href='/'>For Kids</a></li>
      <li class='nav-link nav-option' id='home'><a href='/'>For Parents</a></li>
      <% if current_user then %>
        <li class='nav-option' id='profile-image'><span class="inner-image"><%= image_tag("profile-image.svg") %></span></li>
        <li class='nav-option' id='username'><%= link_to current_user.username.capitalize, user_path(current_user) %></li>
        <li class='nav-option' id='cookies'><%= image_tag("cookie.svg") %></li>
        <li class='nav-option' id='cookie-number'>1</li>
      <% end %>
    </ul>
  </div>
</div>

<div class='content-wrapper'>
  <%= yield %>
</div>

<div class='logout'>
  <% if session[:user_id] && @user then %>
    <p>Logged in as <%= @user.username %>, <%= link_to "Logout", logout_path %></p>
  <% end %>
</div>

</body>
</html>
