<!DOCTYPE html>
<html>
<head>
  <title>NutritionEd</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

<div class='navbar'>
  <ul class='options'>
    <li class='nav-option' id='tomato-icon'><%= image_tag("tomato.png") %></li>
    <li class='nav-option' id='home'><a href='/'>Home</a></li>
    <% if current_user then %>
      <li class='nav-option' id='username'><%= link_to current_user.username.capitalize, user_path(current_user) %></li>
    <% end %>
  </ul>
</div>

<%= yield %>

<div class='logout'>
  <% if session[:user_id] && @user then %>
    <p>Logged in as <%= @user.username %>, <%= link_to "Logout", logout_path %></p>
  <% end %>
</div>

</body>
</html>
